/* Style for the dark mode toggle button */
#darkModeIcons {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-right: 10px;
}

/* Dark mode styles */
.dark-mode {
    background-color: #333;
    /* Change this to your dark mode background color */
    color: #fff;
    /* Change this to your dark mode text color */
}

.dark-mode #darkModeIcons .fa-sun {
    display: none;
    /* Hide the sun icon in dark mode */
}

.dark-mode #darkModeIcons .fa-moon {
    display: inline;
    /* Show the moon icon in dark mode */
}