@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html body {
  background-color: white
}

@keyframes moveleftToRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

h1 {
  animation: moveleftToRight 5s ease-in-out;
}

p::first-line {
  color: rgb(0, 0, 0);
  font-variant: small-caps;
}

h1 {
  animation: moveleftToRight 5s ease-in-out;
}

h1 {
  font-weight: bold;
}

.fa-github:hover,
.fa-github:focus {
  color: #000;
  transform: scale(1.1);
}
.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
}

@media(max-width:767px) {
}


.banner10 h2 {
  font-size: 3rem;
}


@keyframes slideInLeft {}

#idLinkedInIcon {
  background-color: rgb(0, 102, 170);
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font: bold 30px Arial, Helvetica, sans-serif;
  height: 30px;
  margin-top: 1px;
  text-align: center;
  width: 30px;
}

#idLinkedInIcon:hover {
  background-color: #06d;
}

.toggle-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.toggle-label {
  margin-right: 10px;
  color: #fff;
}

.toggle {
  appearance: none;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.toggle::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

/* Style for dark mode */
.dark-mode {
  background-color: #222;
  color: #fff;
}

/* Adjust the switch position for dark mode */
.dark-mode .toggle::before {
  transform: translateX(20px);
}