@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');



@keyframes moveleftToRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

h1 {
  animation: moveleftToRight 5s ease-in-out;
}

h1 {
  animation: moveleftToRight 5s ease-in-out;
}

h1 {
  font-weight: bold;
  color: #000;
}

.fa-github:hover,
.fa-github:focus {
  color: #000;
  transform: scale(1.1);
}
.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
}

@media(max-width:767px) {
}


.banner10 h2 {
  font-size: 3rem;
}


@keyframes slideInLeft {}

#idLinkedInIcon {
  background-color: rgb(0, 102, 170);
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font: bold 30px Arial, Helvetica, sans-serif;
  height: 30px;
  margin-top: 1px;
  text-align: center;
  width: 30px;
}

#idLinkedInIcon:hover {
  background-color: #06d;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  margin-bottom: 20px;
}


.dark-mode {
  background-color: #333;
  
  color: #fff;
  
}




#Home #Personal-Achievements #About-Me #Projects p {
  color: #fff;
  /* Set the text color to white for light mode */
}


@media (prefers-color-scheme: dark) {
  #Home #Personal-Achievements #About-Me #Projects p {
    color: #000;
    /* Set the text color to black for dark mode */
  }
}

